<div id="<%= dom_id bdcliente %>">
  <p>
    <strong>Nome empresa:</strong>
    <%= bdcliente.nome_empresa %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= bdcliente.site %>
  </p>

  <p>
    <strong>Ativo inativo:</strong>
    <%= bdcliente.ativo_inativo %>
  </p>

</div>
